@charset "UTF-8";
/**
 *
 * @authors ide
 * @email   794958215@qq.com
 * @date    2018-06-04 09:03:13
 * @version $Id$
 */
    #zhong2{
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 1300px;
        font-family:"华文楷体";
    }

    #zhongxia{
        margin-left:80px;
        margin-top: 10px;
        width:1120px;
        height: 690px;
    }

    #zhongxiadazi{
        margin-left:5px;
        font-size: 20px;
        color: #6DD2F7;
        font-family: '华文楷体';
        text-indent: 1em;
    }

    #zhongxiaziti{
        text-indent: 2em;
        font-family:'华文楷体';
        font-size: 17px;
        margin-top:35px;
        margin-left:0px;
        margin-right:12px;
    }

    .FONT1 {
        font-size:14px;
        color:#FFFFFF;
        width:130px;
        height:44.3px;
        background:#4FB9EC;
        margin-left:-130px;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,.1);
        transition: all .5s;
        line-height: 2px;
    }

    .FONT1:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,.3);
    }

    .FONT2 {
        font-size:14px;
        color:#FFFFFF;
        width:452px;
        height:42px;
        background:#4FB9EC;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,.1);
        transition: all .5s;
    }
    .FONT2:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,.3);
    }
    #Input1{
        height:42px;
        width:435px;
        border:1px #C7C7C7 solid;
        border-radius: 3px;
        padding-left:15px;
    }
    #Input2{
        height:42px;
        width:435px;
        border:1px #C7C7C7 solid;
        border-radius: 3px;
        padding-left:15px;
    }
    #Input3{
        height:42px;
        width:345px;
        border:1px #C7C7C7 solid;
        border-radius: 3px;
    }