@charset "UTF-8";
/**
 *
 * @authors ide
 * @email   794958215@qq.com
 * @date    2018-06-04 09:03:13
 * @version $Id$
 */
    #main{
        margin:0 auto;
        height: 680px;
        width: 1300px;
        font-family:"华文楷体";
        position: relative;
    }

    #main> div{ 
        margin-left:80px;
        margin-top: 10px;
        width:1120px;
        height: 690px;
        text-align: center;
    }

    #main> div > div{
        font-size: 18px;
        color: #6DD2F7;
        font-family: '华文楷体';
        text-indent: 1em;
        margin-top:60px;
        text-align: center;
    }

    #main> div > div> .msg{
        margin-top:50px;
    }

    input {
        font-size: 16px;
    }
    
    #username,#password{
        height:42px;
        width:435px;
        border:1px #C7C7C7 solid;
        border-radius: 3px;
        padding-left:15px;
        margin-top:45px;
    }

    #phone{
        height:42px;
        width:330px;
        border:1px #C7C7C7 solid;
        border-radius: 3px;
        padding-left:15px;
    }

    select{
        height:41px;
        width:101px; 
        border:1px #C7C7C7 solid; 
        border-radius: 3px;
        margin-top: 45px;
    }

    .email{
        margin-right:300px; 
        margin-top:15px;
    }

    #code{
        margin-top:15px; 
    }
    #code>input:first-child {
        padding-left:15px;
        height:42px; width:435px; 
        border:1px #C7C7C7 solid; 
        border-radius: 3px;
    }

    .button {
        font-size:14px;
        color:#FFFFFF;
        width:126px;
        height:44.3px;
        background:#4FB9EC;
        margin-left:-130px;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,.1);
        transition: all .5s;
        line-height: 2px;
    }

    .button:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,.3);
    }

    .loginbutton {
        margin-top:40px;
        font-size:17px;
        color:#FFFFFF;
        width:452px;
        height:42px;
        background:#4FB9EC;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,.1);
        transition: all .5s;
    }

    .loginbutton:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,.3);
    }

